@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v18-latin-regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
    url('fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-v18-latin-regular.woff2') format('woff2'),
    url('fonts/roboto-v18-latin-regular.woff') format('woff'),
    url('fonts/roboto-v18-latin-regular.ttf') format('truetype'),
    url('fonts/roboto-v18-latin-regular.svg#Roboto') format('svg');
}

#root {
    display: flex;
}

.loading {
    margin: 0 auto;
    padding: 74px;
    width: 0;
    height: 0;
    background-image: url(images/loading.svg);
}

#root > .loading {
    margin: auto;
}