/.gradle
/build
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/tasks.xml
/.idea/modules.xml
/.idea/gradle.xml
/.idea/uiDesigner.xml
/.idea/libraries
/.idea/artifacts
*.iml
/.git_private
/src/main/webapp/*
!/src/main/webapp/WEB-INF
/.jsweet