
.conflict {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.conflict > .header {
    flex-grow: 0;
    margin: 16px 16px 5px 16px;
    line-height: 1.4em;
}

.conflict > .header span {
    font-size: 1.3em;
    font-weight: bold;
}

.conflict .versions {
    flex-grow: 1;
    display: flex;
    overflow-x: auto;
}

.conflict .version {
    width: 50%;
    flex-shrink: 0;
}

.conflict .version > div {
    padding: 10px;
}

.conflict .version > div > .header {
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px 0 5px 30px;
}

.conflict .version .ms-ActivityItem {
    padding: 3px 3px 3px 6px;
    margin-top: 7px;
    line-height: 1.5em;
    border-radius: 5px;
}

.conflict .version .ms-ActivityItem.highlight {
    background-color: rgb(255, 220, 220);
}

.conflict .version .ms-ActivityItem.hoverHighlight {
    background-color: rgb(255, 200, 200);
}

.conflict .version .ms-ActivityItem i {
    font-weight: bold;
    font-style: normal;
}

@media screen and (min-width: 1280px) {
    .conflict .version {
        width: 33%;
    }
}

@media screen and (max-width: 767px) {
    .conflict .version {
        width: 100%;
    }
}