
.conflict {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.conflict > .header {
    flex-grow: 0;
    margin: 16px 16px 5px 16px;
    line-height: 1.4em;
}

.conflict > .header > .heading {
    font-size: 1.3em;
    font-weight: bold;
    float: left;
}

.conflict > .header .info {
    float: left;
}

.conflict .clear {
    clear: both;
}

.conflict > .header .clear > div {
    margin-top: 8px;
}

.conflict > .header .info .ms-Spinner {
    display: block;
    float: left;
    padding-left: 16px;
    padding-top: 2px;
}

.conflict > .header .info .status {
    float: left;
    padding-left: 8px;
    padding-top: 1px;
}

.conflict > .header .neutral {
    margin-top: 16px;
}

.conflict > .header .neutral .ms-Button {
    float: left;
}

.conflict > .header .neutral .ms-Facepile {
    float: left;
    margin: 0;
    padding: 3px 0 0 12px;
}

.conflict .versions {
    flex-grow: 1;
    display: flex;
    overflow-x: auto;
}

.conflict .version {
    width: 50%;
    flex-shrink: 0;
}

.conflict .version > div {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: all 600ms ease-in;
}

.conflict .version > div.outcome {
    background-color: rgb(200, 255, 200);
}

.conflict .version > div.discarded {
    opacity: 0;
}

.conflict .version > div > .header {
    margin: 5px 0 8px 30px;
}

.conflict .version > div > .header > .heading {
    font-size: 1.3em;
    font-weight: bold;
    float: left;
    padding: 1px 0 4px 0;
}

.conflict .version > div > .header > .ms-Facepile {
    float: left;
    margin: 0;
    padding-left: 12px;
}

.conflict .version > div > .footer {
    margin: 8px 0 5px 30px;
}

.conflict .version .ms-ActivityItem {
    padding: 3px 3px 3px 6px;
    margin-top: 7px;
    line-height: 1.5em;
    border-radius: 5px;
    transition: all 70ms ease;
}

.conflict .version > div.outcome .ms-ActivityItem, .conflict .version > div.discarded .ms-ActivityItem {
    transition: all 600ms ease-in;
}

.conflict .version .ms-ActivityItem.highlightGreen {
    background-color: rgb(200, 255, 200);
}

.conflict .version .ms-ActivityItem.fade {
    opacity: 0.5;
}

.conflict .version .ms-ActivityItem.highlightRed {
    background-color: rgb(255, 200, 200);
}

.conflict .version .ms-ActivityItem.highlightDarkRed {
    background-color: rgb(255, 220, 220);
}

.conflict .version .ms-ActivityItem i {
    font-weight: bold;
    font-style: normal;
}

@media screen and (min-width: 1280px) {
    .conflict .version {
        width: 33%;
    }
}

@media screen and (max-width: 767px) {
    .conflict .version {
        width: 100%;
    }
}

.conflict .version .ms-ActivityItem {
    -webkit-animation: fadein 200ms;
    -moz-animation: fadein 200ms;
    -ms-animation: fadein 200ms;
    -o-animation: fadein 200ms;
    animation: fadein 200ms;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}