.ms-Fabric.fabricRoot {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.ms-Fabric.fabricRoot .header {
    flex: 0 1 auto;
}

.ms-Fabric.fabricRoot .content {
    flex: 1 1 auto;
}

.ms-Spinner {
    margin: auto;
}

.setting {
    margin: 8px 0;
}

.settingsPanel .ms-Panel-content > .setting:last-child {
    margin-bottom: 80px; /* make whole settings panel scrollable */
}

.settingsPanel h4 {
    margin: 32px 0 0 0;
}

.ms-Dialog-main > div {
    width: 100%;
}

p {
    line-height: 1.5em;
}

textarea {
    line-height: 1.5em !important;
}

.palette {
    align-items: flex-start !important;
}

.palette .ms-Dialog-main {
    top: 10%;
    max-height: 80%;
    width: 400px;
    max-width: 90%;
}

.palette ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.palette ul li {
    padding: 8px 12px;
    cursor: pointer;
}

.palette ul li.notFound {
    cursor: default;
}

.palette ul li:not(.notFound):hover {
    background-color: #eee;
}

.palette ul li i {
    float: left;
    color: rgb(0, 120, 212);
    width: 24px;
}

.palette ul li span {
    color: rgb(102, 102, 102);
    float: right;
    text-align: right;
}

.standout {
    display: block;
    line-height: calc(100vh - 40px);
    text-align: center;
}

.standout div {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    background-color: #eee;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2em;
}