.ms-Fabric.fabricRoot {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.ms-Fabric.fabricRoot .header {
    flex: 0 1 auto;
}

.ms-Fabric.fabricRoot .content {
    flex: 1 1 auto;
    display: flex;
    align-items: stretch;
}

.ms-Fabric.fabricRoot .content.vertical {
    flex-direction: column;
}

.ms-Fabric.fabricRoot .content.horizontal {
    flex-direction: row;
}

.ms-Fabric.fabricRoot .content > * {
    flex: 1 1 auto;
    box-sizing: border-box;
}

.ms-Fabric.fabricRoot .content > .handler {
    flex: 0 0 auto;
    background-color: #f4f4f4;
}

.ms-Fabric.fabricRoot .content > .handler .handler-content {
    color: #888;
}

.ms-Fabric.fabricRoot .content.horizontal > .handler {
    width: 12px;
    cursor: col-resize;
}

.ms-Fabric.fabricRoot .content.horizontal > .handler .handler-content {
    line-height: calc(100vh - 40px);
    transform: rotate(90deg) translate(0, -4px);
}

.ms-Fabric.fabricRoot .content.vertical > .handler {
    height: 12px;
    cursor: row-resize;
}

.ms-Fabric.fabricRoot .content.vertical > .handler .handler-content {
    text-align: center;
    transform: translate(0, -6px);
}

.ms-Spinner {
    margin: auto;
}

.setting {
    margin: 8px 0;
}

.settingsPanel .ms-Panel-content > .setting:last-child {
    margin-bottom: 80px; /* make whole settings panel scrollable */
}

.settingsPanel h4 {
    margin: 32px 0 0 0;
}

.ms-Dialog-main > div {
    width: 100%;
}

p {
    line-height: 1.5em;
}

textarea {
    line-height: 1.5em !important;
}

.palette {
    align-items: flex-start !important;
}

.palette .ms-Dialog-main {
    top: 10%;
    max-height: 80%;
    width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.palette .ms-Dialog-main .ms-Modal-scrollableContent {
    display: flex;
    flex-direction: column;
}

.palette ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.palette ul.scrollable {
    overflow: auto;
}

.palette ul li {
    padding: 8px 12px;
    cursor: pointer;
}

.palette ul li.inactive {
    cursor: default;
}

.palette ul li.selected {
    background-color: #eee;
}

.palette ul li i {
    float: left;
    color: rgb(0, 120, 212);
    width: 24px;
}

.palette ul li b {
    color: rgb(0, 120, 212);
}

.palette ul li span.aside {
    color: rgb(102, 102, 102);
    float: right;
    text-align: right;
}

.standout {
    display: block;
    line-height: calc(100vh - 40px);
    text-align: center;
}

.standout div {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    background-color: #eee;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2em;
}