.ms-Fabric.fabricRoot .content.vertical .treeLayout {
    width: 100%; /* prevent flickering in Google Chrome 70 */
}

.treeLayout .node .rectAndText {
    cursor: pointer;
}

.treeLayout .node.selected .rectAndText rect, .treeLayout .node .rectAndText.active rect {
    stroke: #666;
    stroke-width: 2px;
    fill-opacity: 0.5;
}

.callout .header {
    padding: 14px 24px 8px;
}

.callout .header p {
    margin: 0;
    font-size: 1.5rem;
}

.callout .inner {
    padding: 0 24px 16px;
}

.callout .inner.empty {
    padding: 0 24px 4px;
}

.callout .inner p {
    margin: 0;
    font-size: 0.8rem;
}