.treeLayout {
    width: 100%;
    height: 100%;
}

.treeLayout .node .rectAndText {
    cursor: pointer;
}

.callout .header {
    padding: 14px 24px 8px;
}

.callout .header p {
    margin: 0;
    font-size: 1.5rem;
}

.callout .inner {
    padding: 0 24px 16px;
}

.callout .inner.empty {
    padding: 0 24px 4px;
}

.callout .inner p {
    margin: 0;
    font-size: 0.8rem;
}